<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/tellme.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
        <title>TellMe</title>
        <script src="./js/main.js"></script>
    </head>
    <body>
        <main class="page">
            <%- include('components/side-bar.ejs', {rooms: rooms, open: false, me: me}); -%>
            <section>
                <h3>Créer de nouvelle conversation !</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deserunt inventore molestias quo quos? Adipisci doloremque fugiat ipsam iure natus, nemo perferendis praesentium reprehenderit rerum soluta sunt vel vitae voluptas.</p>
                <form id="room-form" class="room-form" action="/room" method="POST">
                    <div class="field">
                        <label for="room"><i class="fas fa-comments"></i></label>
                        <input id="room" name="room" type="text" required placeholder="Nom de la nouvelle room">
                    </div>
                    <button type="submit">Créer une nouvelle conversation</button>
                </form>
            </section>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
        <script src="./js/chat.js"></script>
        <script>
            window.addEventListener("DOMContentLoaded", (event) => {
                const logoutBtn = document.getElementById('logout');
                logoutBtn.addEventListener('click', function () {
                    window.localStorage.removeItem('userEmail');
                    window.localStorage.removeItem('userName');
                    window.localStorage.removeItem('userId');
                    window.location.replace("/login");
                })
            });
        </script>
    </body>
</html>