@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:wght@300;400;500;900&display=swap');

:root{
    --primary-color: #ffe347;
    --bg-color: #2c3338;
    --grey-color: #3b4148;
    --light-grey-color: #606468;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/**
Home page
 */

main.page {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--grey-color);
}

.aside {
    position: relative;
    min-height: 100vh;
    color: #FFFFFF;
    background-color: var(--bg-color);
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
}

#menu.--close {
    width: 106px;
}

#menu.--open {
    width: 330px !important;
}

#btn-close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

#close-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#menu.--open #open-menu {
    display: block !important;
}

#menu.--close #open-menu {
    display: none !important;
}

#menu.--open #close-menu {
    display: none !important;
}

#menu.--close #close-menu {
    display: flex !important;
}

#close-menu {
    font-size: 2rem;
}

aside ul {
    padding: 0;
}

aside ul li {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

aside ul li:first-of-type {
    list-style: none;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.45);
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

aside ul li.--logout {
    border: none;
}

aside ul li.--left-room {
    display: flex;
    padding: 1rem 0 1rem 0;
}

aside ul li.--left-room a.left {
    color: white;
    text-decoration: none;
    padding-left: 1.5rem;
}

aside ul li div.infos {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 2rem;
}

aside ul li div.logout {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    justify-content: space-between;
    right: 1rem;
}

aside ul li div.logout .name {
    color: var(--primary-color);
    cursor: pointer;
}

aside ul li div.logout .name a {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

aside ul li div.infos .link {
    /* -1px pour compenser le  border de 1px */
    margin: calc(-1rem - 1px) 0 calc(-1rem - 1px) 0;
    display: flex;
    padding: 1rem;
    align-items: center;
    color: var(--primary-color);
    text-decoration: none;
    border: 1px solid var(--primary-color);
}

aside ul li div.infos .delete-room{
    margin: calc(-1rem - 1px) 0 calc(-1rem - 1px) 0;
    display: flex;
    padding: 1rem;
    align-items: center;
    background-color: transparent;
    color: rgba(252, 69, 69, 0.8);
    text-decoration: none;
    border: 1px solid rgba(252, 69, 69, 0.8)
}

aside ul li div.infos .actions{
    display: flex;
}

main.page section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: fit-content;
    min-width: calc(100% - 330px);
}

main.page section h3, main.page section p {
    color: #FFFFFF;
}

main.page section p {
    width: 70%;
}

section form.room-form {
    width: 70%;
}

form.room-form div.field {
    display: flex;
    width: 100%;
}

form.room-form div.field input {
    background-color: white;
    border: none;
    padding: 1rem;
    margin: .5rem 0;
    font-size: 1rem;
    color: var(--bg-color);
    border-radius: 0 4px 4px 0;
    width: 100%;
}

form.room-form div.field label {
    width: 5%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 4px 0 0 4px;
    color: var(--primary-color);
    margin: .5rem 0;
}

form.room-form button {
    width: 100%;
    padding: 1rem;
    margin: .5rem 0;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.aside h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    font-size: 2rem;
}

/*#close-menu {*/
/*    display: none;*/
/*}*/

/**
Auth Pages
 */
main.auth-page h1 {
    text-align: center;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    font-size: 2rem;
}

main.auth-page h2 {
    text-align: center;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 2.5rem;
}

main.auth-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
}

form.auth-form {
    width: 60%;
    min-width: 300px;
}

form.auth-form div.field {
    display: flex;
    width: 100%;
}

div.field input {
    background-color: var(--grey-color);
    border: none;
    padding: 1rem;
    margin: .5rem 0;
    font-size: 1rem;
    color: white;
    border-radius: 0 4px 4px 0;
    width: 80%;
}

div.field label {
    width: 5%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363b41;
    border-radius: 4px 0 0 4px;
    color: #747474;
    margin: .5rem 0;
}

form.auth-form button {
    width: 100%;
    padding: 1rem;
    margin: .5rem 0;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

form.auth-form a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .85rem;
    text-align: right;
}

form.auth-form a span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--primary-color);
}

/**
Room page
 */
body.room {
    overflow: hidden;
}

.room-chat-container {
    justify-content: space-between !important;
    width: fit-content !important;
    align-items: start !important;
    min-width: calc(100% - 330px);
}

#send-container {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 6vh;
}

#message-input {
    flex-grow: 1;
    margin: .5rem 0 .5rem 2rem;
    position: relative;
    border: none;
    border-radius: 4px;
    background-color: var(--bg-color);
    padding: 1rem;
    width: fit-content;
    color: white;
}

#message-input:focus {
    border:none;
    outline: none;
}

#send-button {
    margin: .5rem 2rem .5rem .5rem;
    position: relative;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    font-weight: 500;
}

div#message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    height: 94vh;
}
div#message-container::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--bg-color);
}

div#message-container::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

div#message-container::-webkit-scrollbar-thumb
{
    background-color: var(--grey-color);
    border: 2px solid var(--grey-color);
}

div#message-container div.message-user {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}

div#message-container div.message-user.me {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

div#message-container div.notification {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    margin: .5rem 0;
}

div#message-container div.info-notif {
    text-align: center;
}

div#message-container div.divider {
    background-color: white;
    width: 20%;
    height: 2px;
    margin: 0 1rem;
}

div.user {
    margin-left: 2rem;
    margin-right: 2rem;
}

div.user.me {
    text-align: end;
}

div.user span {
    color: white;
}

div.message-user.me div.user span {
    color: white;
}

div#message-container div.message {
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    border-radius: 4px;
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    width: fit-content;
}

div#message-container div.message.me {
    background-color: var(--primary-color);
}

div#message-container div.message:after {
    position: absolute;
    content: ' ';
    display: block;
    width: 10px;
    height: 10px;
    top: -5px;
    left: 10px;
    background-color: white;
    transform: rotate(45deg)
}

div#message-container div.message.me:after {
    left: unset;
    right: 10px;
    background-color: var(--primary-color);
}

.right-bar {
    display: none;
}

.alert-notif {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.alert-notif.--success span {
    padding: 1rem;
    background-color: rgba(69, 252, 93, 0.8);
    color: black;
    border-radius: 4px;
}

.alert-notif.--error span {
    padding: 1rem;
    background-color: rgba(252, 69, 69, 0.8);
    color: white;
    border-radius: 4px;
}

@media (min-width: 1550px) {
    .right-bar {
        display: block;
        width: 15%;
        background-color: var(--bg-color);
    }
}

@media (max-width: 764px) {
    #menu.--open {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw !important;
        z-index: 1000;
    }
}