@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:wght@300;400;500;900&display=swap');

:root{
    --primary-color: #FFE347;
    --bg-color: #2c3338;
    --grey-color: #3b4148;
    --light-grey-color: #606468;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/**
Home page
 */

main.page {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--grey-color);
}

.aside {
    position: relative;
    min-height: 100vh;
    width: 25vw;
    max-width: 330px;
    min-width: 230px;
    color: #FFFFFF;
    background-color: var(--bg-color);
}

aside ul {
    padding: 0;
}

aside ul li {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

aside ul li:first-of-type {
    list-style: none;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.45);
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

aside ul li.--logout {
    border: none;
}

aside ul li.--left-room {
    display: flex;
    padding: 1rem 0 1rem 0;
}

aside ul li.--left-room a.left {
    color: white;
    text-decoration: none;
    padding-left: 1rem;
}

aside ul li div.infos {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 2rem;
}

aside ul li div.logout {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

aside ul li div.logout .name {
    color: var(--primary-color);
    cursor: pointer;
}

aside ul li div.infos .link {
    /* -1px pour compenser le  border de 1px */
    margin: calc(-1rem - 1px) 0 calc(-1rem - 1px) 0;
    display: flex;
    padding: 1rem;
    align-items: center;
    color: var(--primary-color);
    text-decoration: none;
    border: 1px solid var(--primary-color);
}

main.page section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 75vw;
}

main.page section h3, main.page section p {
    color: #FFFFFF;
}

main.page section p {
    width: 70%;
}

section form.room-form {
    width: 70%;
}

form.room-form div.field {
    display: flex;
    width: 100%;
}

form.room-form div.field input {
    background-color: white;
    border: none;
    padding: 1rem;
    margin: .5rem 0;
    font-size: 1rem;
    color: var(--bg-color);
    border-radius: 0 4px 4px 0;
    width: 100%;
}

form.room-form div.field label {
    width: 5%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 4px 0 0 4px;
    color: var(--primary-color);
    margin: .5rem 0;
}

form.room-form button {
    width: 100%;
    padding: 1rem;
    margin: .5rem 0;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.aside h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    font-size: 2rem;
}

/**
Room page
 */
.room-chat-container {
    justify-content: space-between !important;
    width: 100% !important;
    align-items: start !important;
}

#send-container {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
}
#message-input {
    flex-grow: 1;
}
div#message-container {
    width: 100%;
}

div#message-container div.message-user {
    display: flex;
    flex-direction: column;
}

div#message-container div.message-user.me {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

div#message-container  {
    display: flex;
    flex-direction: column;
}

div.user {
    margin-left: 2rem;
    margin-right: 2rem;
}

div.user.me {
    text-align: end;
}

div.user span {
    color: white;
}

div.message-user.me div.user span {
    color: white;
}

div#message-container div.message {
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    border-radius: 4px;
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    width: fit-content;
}

div#message-container div.message.me {
    background-color: var(--primary-color);
}

div#message-container div.message:after {
    position: absolute;
    content: ' ';
    display: block;
    width: 10px;
    height: 10px;
    top: -5px;
    left: 10px;
    background-color: white;
    transform: rotate(45deg)
}

div#message-container div.message.me:after {
    left: unset;
    right: 10px;
    background-color: var(--primary-color);
}


/**
Auth Pages
 */
main.auth-page h1 {
    text-align: center;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    font-size: 2rem;
}

main.auth-page h2 {
    text-align: center;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 2.5rem;
}

main.auth-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
}

form.auth-form {
    width: 60%;
    min-width: 300px;
}

form.auth-form div.field {
    display: flex;
    width: 100%;
}

div.field input {
    background-color: var(--grey-color);
    border: none;
    padding: 1rem;
    margin: .5rem 0;
    font-size: 1rem;
    color: white;
    border-radius: 0 4px 4px 0;
    width: 80%;
}

div.field label {
    width: 5%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363b41;
    border-radius: 4px 0 0 4px;
    color: #747474;
    margin: .5rem 0;
}

form.auth-form button {
    width: 100%;
    padding: 1rem;
    margin: .5rem 0;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

form.auth-form a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .85rem;
    text-align: right;
}

form.auth-form a span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--primary-color);
}